@font-face {
    font-family: 'jari';
    font-style: normal;
    font-weight: 400;
    font-display: swap
    src: url('https://cdn.jsdelivr.net/gh/xdev404/Ol-Chiki@main/font/testChkiAlkjri.woff');
    unicode-range: U+1C50-U+1C7F;
}
